<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Album</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" />

    <link href="../../../static/apps/css/admin/clean-blog.min.css"
          th:href="@{/apps/css/admin/clean-blog.min.css}" rel="stylesheet" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../../../static/apps/css/admin/admin.css"
          th:href="@{/apps/css/admin/admin.css}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="index.html">Start Bootstrap</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="index.html">사진첩</a>
                </li>
                <li>
                    <a href="about.html">사진</a>
                </li>
                <li>
                    <a href="post.html">통계</a>
                </li>
                <li>
                    <a href="contact.html">사용자</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" th:style="'background: url('+ @{/apps/image/admin/post-bg.jpg} +');'" style="background-image: url('../../../static/apps/image/admin/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <hr class="small"/>
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <form name="form" id="form" th:action="@{/admin/album/save}" method="post" th:object="${form}">
                <input type="hidden" id="id" name="id" th:value="*{id}" />
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>제목</label>
                        <input type="text" class="form-control" placeholder="제목" id="title" name="title" data-validation-required-message="제목을 입력하세요." th:field="*{title}" />
                        <p class="help-block text-danger" id="validate_title"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>내용</label>
                        <textarea rows="5" class="form-control" placeholder="내용" id="content" name="content" data-validation-required-message="내용을 입력하세요." th:field="*{content}"></textarea>
                        <p class="help-block text-danger" id="validate_content"></p>
                    </div>
                </div>
                <br/>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button id="btn_mod" type="button" class="btn btn-default pull-right">수정</button>
                        <button id="btn_reg" type="button" class="btn btn-default pull-right">등록</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<hr/>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>


<!-- Custom Theme JavaScript -->
<script src="../../../static/apps/js/admin/clean-blog.js"
        th:src="@{/apps/js/admin/clean-blog.js}"></script>

<script type="text/javascript" th:inline="javascript">
//*<![CDATA[*/
$(function() {

    $("input,textarea").jqBootstrapValidation({
        preventSubmit: true,
        submitError: function($form, event, errors) {
            // additional error messages or events
        },
        submitSuccess: function($form, event) {
            event.preventDefault(); // prevent default submit behaviour
            // get values from FORM
            var id = $("input#id").val();
            var title = $("input#title").val();
            var content = $("textarea#content").val();

            $.ajax({
                url: $("#form").attr("action"),
                type: $("input[name='_method']").val(),
                data: {
                    id: id,
                    title: title,
                    content: content
                },
                cache: false,
                success: function() {
                    // Success message
                    $('#success').html("<div class='alert alert-success'>");
                    $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                        .append("</button>");
                    $('#success > .alert-success')
                        .append("<strong>Your message has been sent. </strong>");
                    $('#success > .alert-success')
                        .append('</div>');

                    //clear all fields
                    //$('#form').trigger("reset");
                },
                error: function() {
                    // Fail message
                    $('#success').html("<div class='alert alert-danger'>");
                    $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                        .append("</button>");
                    $('#success > .alert-danger').append("<strong>Sorry " + title + ", it seems that my mail server is not responding. Please try again later!");
                    $('#success > .alert-danger').append('</div>');
                    //clear all fields
                    //$('#form').trigger("reset");
                }
            })
        },
        filter: function() {
            return $(this).is(":visible");
        }
    });

    $("a[data-toggle=\"tab\"]").click(function(e) {
        e.preventDefault();
        $(this).tab("show");
    });

    $("#btn_reg").on("click", function(){
        var $this = $("#form");

        $this.append($('<input />').attr('type', 'hidden').attr('name', '_method').attr('value', 'post'));
        $this.submit();
    });

    $("#btn_mod").on("click", function(){
        var $this = $("#form");
        var url = /*[[ @{/admin/album/update} ]]*/ '';

        $this.attr("action", url);

        $this.append($('<input />').attr('type', 'hidden').attr('name', '_method').attr('value', 'put'));
        $this.submit();
    });
});
/*]]>*/
</script>

</body>
</html>
